<section>
  <div class="page-header">
    <h1>{{vm.listingproperty._id ? 'Edit Listingproperty' : 'New Listingproperty'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.listingpropertyForm" class="form-horizontal" ng-submit="vm.save(vm.form.listingpropertyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
         <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.listingproperty.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.listingpropertyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">property name is required.</p>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="address">Address</label>
            <input name="Address" type="text" ng-model="vm.listingproperty.address" id="address" class="form-control" placeholder="Enter Address" required>
            <div ng-messages="vm.form.listingpropertyForm.address.$error" role="alert">
              <p class="help-block error-text" ng-message="required">property Address is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="unit">unit</label>
            <input name="unit" type="text" ng-model="vm.listingproperty.unit" id="unit" class="form-control" placeholder="Enter Unit #" required>
            <div ng-messages="vm.form.listingpropertyForm.unit.$error" role="alert">
              <p class="help-block error-text" ng-message="required">property unit is required.</p>
            </div>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.listingproperty._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
