<section>
  <div class="page-header">
    <h1 ng-bind="vm.listingproperty.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.listingproperty.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="listingproperties.edit({ listingpropertyId: vm.listingproperty._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.listingproperty.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.listingproperty.user"
            ng-bind="vm.listingproperty.user.displayName"></span>
      <span ng-if="!vm.listingproperty.user">Deleted User</span>
    </em>
  </small><br>
  <label></label><span class="lead" ng-bind="vm.listingproperty.address"></span><br />
  <label>Property Description: </label><p class="lead" ng-bind="vm.listingproperty.propertydescription"></p>
  <label>Price: </label><span class="lead" ng-bind="vm.listingproperty.price"></span><br />
  <label>No of bedrooms: </label><span ng-bind="vm.listingproperty.noofbedroom" ></span><br />
  <label>city: </label><span ng-bind="vm.listingproperty.city" ></span><br />
  <label>unit #: </label><span ng-bind="vm.listingproperty.unit" ></span><br />
  <label></label>
</section>
